[Unit]
Description = vpnclient daemon

[Service]
WorkingDirectory = /usr/local/bin/
ExecStart = /usr/local/bin/vpnclient start
ExecStop = /usr/local/bin/vpnclient stop
ExecReload = /usr/local/bin/vpnclient restart
Restart = always
User = root
Type = forking
Environment = LD_LIBRARY_PATH=/usr/local/bin/

[Install]
WantedBy = multi-user.target
